# Xcode.DS_Store
build/
DerivedData/
*.xcconfig
*.xcuserdata
*.xcworkspace
xcuserdata/

# Swift Package Manager.build/
Packages/

# CocoaPods
Pods/
*.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.json
fastlane/metadata/
